@{
    ViewData["Title"] = "About";
}
<body style="background-image: url('https://i.pinimg.com/originals/98/d5/4e/98d54e8b54e06de35b73c42e05d00ba6.jpg');  background-repeat: no-repeat;
    background-attachment: fixed;" ><div class="row">
	<div class="col-12 text-center">
        <h1>About</h1>
		<p>Swillow is brought to you by Patrick Hébert, a Full-Stack Developer from Orange County, CA. This app was conceived and built as a project in my Residency at Coding Dojo.</p>
    </div>
</div>
</body>