@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-12 text-center">
        <h1>About</h1>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque, totam soluta aspernatur sapiente magni beatae reprehenderit fugit facere natus nam necessitatibus porro corporis dolore omnis numquam nulla deleniti repellat voluptas.</p>
    </div>
</div>