@{
    ViewData["Title"] = "Buyer";
}

<div class="row">
    <div class="col-12 text-center">
        <h1>Buyer's page</h1>
        <h1>what do we need on this page?</h1>
        <p>list properties for sale</p>
        
    </div>
</div>