@{
    ViewData["Title"] = "Community";
}

<div class="row">
    <div class="col-12 text-center">
        <h1>Community</h1>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus ab excepturi necessitatibus hic veritatis incidunt ullam optio laudantium voluptates cupiditate? Eius omnis enim maxime at! Dolore voluptatum pariatur perspiciatis quo!</p>
    </div>
</div>