@{
    ViewData["Title"] = "Community";
}
<body style="background-image: url('https://i.pinimg.com/originals/98/d5/4e/98d54e8b54e06de35b73c42e05d00ba6.jpg');  background-repeat: no-repeat;
    background-attachment: fixed;" ><div class="row">
    	<div class="col-12 text-center row" style="padding:20px">
        <h1>Community</h1>
		<p>Check in here for periodical updates on our community!! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda praesentium corporis, iste dolorum harum dolor consectetur voluptas non, placeat est laborum rerum aliquam modi minima repellendus, voluptatibus eaque optio laudantium.</p>
    </div>
</div>
</body>