@{
    ViewData["Title"] = "Home";
}

@model List<Property>
@* @using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
  @Html.TextBox("searchString") <input type="submit" value="search"/>
} *@

@* <p>
@if (Model.Count() == 0)
{
  <p>No Match</p>
}
else
{
  foreach(var item in Model)
  {
    <p> @item.Title</p>
    <p> @item.Address</p>
    <p> @item.ListingType</p>
  }
} *@

<body style="background-image: url('https://i.pinimg.com/originals/98/d5/4e/98d54e8b54e06de35b73c42e05d00ba6.jpg');  background-repeat: no-repeat;
    background-attachment: fixed;" >  
	<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
  <div class="col-md-10 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Welcome To Swillow</h1>
    <p class="lead font-weight-normal">We are so glad you are here! Click below to view our current list of properties for sale. Sign in to add your own or to save to favorites. </p>
<div class="col-md-10 p-lg-5 mx-auto my-2">
    @* <form asp-controller = "Home" asp-action="Index" class="form-inline mt-2 mt-md-0 method="get">
        <input class="form-control mr-sm-2" name ="SearchString" type="text" placeholder="City, Zipcode" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
        @* I need to be watching Neil's forum demo. I think it had  search features 
    </form> *@
        <a asp-action="Dashboard" class="btn btn-primary my-2" style="margin-left:10px">View All Properties</a>
</div>
    
    
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

</body>

