@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<body style="background-image: url('http://3.bp.blogspot.com/_uGCoghnCSws/TMEy4m6JGZI/AAAAAAAAABQ/NXHhWkzq2Nk/s1600/Luxury+house+(3).jpg');  background-size: cover; background-repeat: no-repeat;
    background-attachment: fixed;" >
	<p>When you use our services, you’re trusting us with your information. We understand this is a big responsibility and work hard to protect your information and put you in control.</p>
</body>