@{
    ViewData["Title"] = "Seller";
}

<div class="row">
    <div class="col-12 text-center">
        <h1>Seller's page</h1>
        <h1>what do we need on this page?</h1>
        <p>sell it yourself =-> create a listing</p>
        <p>ADVANCED => find agent</p>
    </div>
</div>