@{
    ViewData["Title"] = "Subscribe";
}
<body style="background-image: url('http://3.bp.blogspot.com/_uGCoghnCSws/TMEy4m6JGZI/AAAAAAAAABQ/NXHhWkzq2Nk/s1600/Luxury+house+(3).jpg');  background-size: cover; background-repeat: no-repeat;
    background-attachment: fixed;" >
	<div class="col-12 text-center">
@{
	int? uid = Context.Session.GetInt32("UserId");
}
	<h1>Hi  @Context.Session.GetString("FullName")!<br/>You have successfully subscribed to our newsletter!</h1>
	<h4>(Not really. Functionality still in the works!)</h4>
	</div>
</body>
